<section>
    <h3>Add Event</h3>

    <form action="" class="form-horizontal" data-bind="submit: save" novalidate>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Title">Title</label>
            <div class="col-sm-4">
                <input type="text" name="Title" class="form-control" required data-bind="value: title" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Date">Date</label>
            <div class="col-sm-4">
                <input type="text" name="Date" class="form-control" required data-bind="value: date" />
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Description">Description</label>
            <div class="col-sm-4">
                <textarea name="Description" id="Description" cols="30" rows="10" class="form-control" required
                        data-bind="value: description"></textarea>
            </div>
            <div class="col-sm-6">
                <img src="" alt="" data-bind="attr: { src: photo }" height="200"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Location">Location</label>
            <div class="col-sm-4">
                <input type="text" name="Location" class="form-control" name="Location" required data-bind="value: location"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Photo">Photo</label>
            <div class="col-sm-4">
                <input type="text" name="Photo" class="form-control" name="Photo" required data-bind="value: photo"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-2">
                <input type="submit" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</section>