<section>
    <br/>
    <div class="row">

        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Categories
                    <a href="#" class="pull-right btn btn-primary btn-xs" data-bind="click: addCategory">
                        <i class="fa fa-plus"></i> Category
                    </a>
                </div>
                <div class="panel-body">

                    <ul class="list-group" data-bind="foreach: categories">
                        <li data-bind="text: $data.get('name')" class="list-group-item"></li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    My Events <button class="btn btn-xs btn-primary pull-right" data-bind="click: addEvent">
                    <i class="fa fa-plus"></i> New Event</button>
                </div>
                <div class="panel-body">
                    <input type="text" class="form-control" placeholder="Search" data-bind="textInput: searchCriteria"/>
                    <br />
                    <div data-bind="foreach: filteredEvents" class="media-list" >
                        <div class="media eventItem" style="width:300px; display: inline-block">
                            <!--<a class="pull-left" href="#">-->
                                <!--<img class="media-object" src="" alt="" width="64" data-bind="attr: { src: $data.get('photo')}">-->
                            <!--</a>-->
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="#" data-bind="text: $data.get('title'), attr: { href: '#edit/'+$data.id }"></a>
                                </h4>

                                <div class="sub-heading">
                                    <i class="fa fa-clock-o fa-fw"></i>
                                    <span data-bind="text: moment($data.get('date')).fromNow()"></span>
                                </div>

                                <div class="sub-heading" data-bind="if: $data.get('location')">
                                    <i class="fa fa-map-marker fa-fw"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>